# commentaires

# api bricklink
!/api/LICENSE.txt
!/api/requirements.txt

# mdp safe and secure
mdp.json

/build
/dist
/__pycache__
*.jpg
!noImage.jpg
*.spec
*.swp
*.exe
/ressources/save_temp/*_temp.csv